  html,
  body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
  }

  #wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.4em;
}



/* Set the fixed height of the footer here */
  #push,
  footer {
    height: 60px;
  }
  footer {
    position: fixed;
    top: 100%;
    margin-top: -60px;
    background-color: #f5f5f5;
    padding-top: 20px;
    width: 100%;
  }

  /* Lastly, apply responsive CSS fixes as necessary */
  @media (max-width: 767px) {
    footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .container .credit {
    margin: 20px 0;
  }


li.ads {
    text-align: center;
}

li.ads a {
    padding-top: 20px;
}

li.ads button {
    background-color: transparent;
    border: 1px solid #999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 1px 18px;
}
